name: Build LaTeX document
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: article.tex
          latexmk_use_xelatex: true
          
      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: PDF-Document
          path: article.pdf
