name: Build PDF
on: [push]

jobs:
  build_pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Build PDF
        run: |
          apt-get update
          apt-get install -y texlive-xetex texlive-fonts-recommended
          xelatex main.tex
          
      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: manuscript
          path: main.pdf
